html, body, div {
  box-sizing: border-box;
}

html {
  display: block;
  padding: 0;
  margin: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 15px;
}

body {
  display: block;
  height: auto;
  min-height: 100%;
  max-width: 1360px;
  background-color: white;
  margin: auto;
  padding: 15px;
}

@media screen and (min-width: 1375px) {
  html {
    background-color: #606060;
  }

  body {
    border-radius: 5px;
    margin: 15px auto;
    box-shadow: 5px 5px 10px black;
  }
}

.svg-wrapper {
  padding-top: 50%;
  position: relative;
}

.svg-wrapper svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

svg text {
  font-size: 1em;
  white-space: pre;
  fill: black;
}

svg text.debug {
  fill: #0FF;
}

svg line {
  stroke: black;
  stroke-width: 1;
}

svg rect {
  stroke: #000000;
  stroke-width: 0;
}

.element-select, .difficulty-select {
  width: 12.5em;
  height: 8.25em;
  padding: 3px;
}

.settings-bar {
  display: flex;
  flex-direction: row;
  margin: 0 0 1em 0;
}

.settings-bar > *:not(:first-child) {
  margin-left: 1em;
}

.expand-label {
  display: flex;
}

.expand-label > label {
  flex: 1 1 auto;
  margin-right: 0.5em;
}
.expand-label > :not(label) {
  width: 5em;
  flex: 0 0 auto;
}

.vertical-flex {
  display: flex;
  flex-direction: column;
}

.vertical-flex > * {
  flex: 1 1 auto;
}

.vertical-flex > *.input-height {
  line-height: 1.8em;
}
